html
  head
    title= title
    head
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    div.container
      h1= message
      hr
      div.col-xs-12
        div.row
          div.jumbotron
            form(method='POST', action='', class='form-group', name='form')
              h2.row(id='question')
              p(id='answer')
              div(id='countdowntimer')
        input(type='submit',class='btn btn-default', id='suivant' value='Question suivante')

    script(src='https://cdn.jsdelivr.net/npm/sweetalert2')
    script(src='/socket.io/socket.io.js')
    script(src='js/qcm.js')

